/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Style */
  body {
    background-color: hsl(0, 0%, 20%);
    font-family: 'Inter', sans-serif;
  }
  
  /* Container */
  .profile-container {
    background-color: hsl(0, 0%, 12%);
    width: 25%;
    height: 530px;
    margin: 3% auto;
    border-radius: 12px;
  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
  
  /* Content */
  .profile-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
  }
  
  /* Shared profile styles */
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Avatar Image */
  .profile-image {
    width: 80px;
    height: 80px;
    object-fit: cover;    
    border-radius: 50%;
    margin: auto;
  }
  
  /* Name */
  .profile-name {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: -10px;
  }
  
  /* Location */
  .profile-location {
    color: hsl(75, 94%, 57%);
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  /* About */
  .profile-about {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    text-align: center;
  }
  
  /* Buttons */
  .profile-btns {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Links */
  a {
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    transition: all 0.3s ease;
  }
  
  a:hover {
    color: black;
    background-color: hsl(75, 94%, 57%);
  }
  
  
  @media (max-width: 768px) {
    .profile-container {
      width: 90%;
      height: auto;
      margin-top: 5%;
      padding: 20px;
    }
  
    .profile-content {
      align-items: center;
      margin-top: 20px;
    }
  
    .profile-image {
      width: 70px;
      height: 70px;
    }
  
    .profile-btns {
      width: 100%;
    }
  
    a {
      padding: 12px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .profile-name {
      font-size: 20px;
    }
  
    .profile-location,
    .profile-about {
      font-size: 12px;
      text-align: center;
    }
  
    a {
      font-size: 12px;
    }
  }
  