* {
    margin: 0;
}

body {
    background-color: hsl(0, 0%, 20%);
}

.profile-container {
    background-color: hsl(0, 0%, 12%);
    width: 25%;
    height: 530px;
    margin: auto;
    margin-top: 3%;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
}

.profile-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.profile {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: center;
}

.profile-image {
    width: 80px;
    height: 80px;
    margin-left: 50px;
    object-fit: cover;    /* Makes sure the image doesn't get stretched */
    border-radius: 50%;   /* This makes it a perfect circle */
    justify-content: center;
    margin: auto;
}

.profile-name {
    margin-top: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    margin-bottom: -10px;
}

.profile-location {
    color: hsl(75, 94%, 57%);
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
}

.profile-about {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

.profile-btns {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 80px;
    gap: 10px;

    justify-content: space-between;
}

button {
    padding: 10px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

a {
    color: white;
    text-decoration: none;
    border: hsl(0, 0%, 20%);
}